:root {
    --primary: #fff;
    --dark: #242424;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--primary-dark {
    background-color: var(--dark);
    color: #fff;
    border: 1px solid var(--dark);
}

.btn--outline-dark {
    background-color: transparent;
    color: #242424;
    padding: 8px 20px;
    border: 1px solid var(--dark);
    transition: all 0.3s ease-out;
}

.btn-medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn-large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--primary:hover, .btn--outline:hover {
    background-color: #fff;
    color: #242424;
    transition: all 0.3s ease-out;
}

.btn--primary-dark:hover, .btn--outline-dark:hover {
    background-color: #242424;
    color: #fff;
    transition: all 0.3s ease-out;
}