.experience-container {
  scroll-margin-top: 80px;
  background-color: #fff;
  width: 100%;
  height: calc(100vh - 80px);
  height: -o-calc(100vh - 80px); /* opera */
  height: -webkit-calc(100vh - 80px); /* google, safari */
  height: -moz-calc(100vh - 80px); /* firefox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.experience-container > h1 {
  color: #242424;
  font-size: 100px;
  margin-top: -100px;
}

.experience-container > p {
  margin-top: 8px;
  color: #242424;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 960px) {
  .experience-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 550px) {
  .experience-container > h1 {
    font-size: 36px;
    margin-top: -100px;
  }

  .experience-container > p {
    font-size: 18px;
  }
}
